# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\company_project\springboot-jpa\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
